# workspace and appearance related data files
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/*-plugins.json
.obsidian/appearance.json

# .obsidian

# Google Keep
# Google Keep/

# OS settings and caches
.trash/
.DS_Store

# Ignore Smart Connections folder
.smart-connections
